.navbar {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('https://images.pexels.com/photos/53594/blue-clouds-day-fluffy-53594.jpeg?cs=srgb&dl=pexels-pixabay-53594.jpg&fm=jpg');
}

 .navbar_contents {
    display: flex;
    justify-content: center;
    column-gap: 80px;
    font-size: 12px;
    opacity: 0.6;
   
}

/* #light .navbar_contents{
    background-color:#212F3C;
}

#dark .navbar_contents{
    background-color: beige;
} */

h2:hover{
    cursor: pointer;
    transition: all 0.4s;
}

#home:hover{
    color:#F4D03F;
}

#settings:hover{
    color:coral;
}

#about:hover{
    color:#196F3D;
}

@media only screen and (max-width: 590px){
    .navbar {
        position: absolute;
        height:  200%;
      

    }
}

@media only screen and (max-width: 320px ){
    .navbar {
        width: 150%;
      

    }
}

@media only screen and (max-width: 375px ){
    .navbar {
        width: 160%;
     
    }
}